/* Notifications */
#crm-public-notification-container {
  width: 350px;
  position: fixed;
  top: 45px;
  right: 15px;
  z-index: 999999;
}
#crm-public-notification-container div.notify-content,
#crm-public-notification-container div.notify-content b,
#crm-public-notification-container div.notify-content li {
  color: #fff;
}
#crm-public-notification-container div.ui-notify-message {
  padding: 10px;
  margin-bottom: 15px;
  color: #fff;
  border-radius: 8px;
  max-height: 600px;
  overflow: auto;
}
#crm-public-notification-container div.ui-notify-message h1 {
  font-size: 14px;
  margin: 0;
  padding: 4px;
  font-weight: bold;
  color: #fff;
}
#crm-public-notification-container div.ui-notify-message p {
  margin: 3px 0;
  padding: 0;
  line-height: 18px;
  color: #fff
}
#crm-public-notification-container div.ui-notify-message:last-child {
  margin-bottom: 0;
}
#crm-public-notification-container div.ui-notify-message-style {
  background: rgba(0,0,0,0.8);
  box-shadow: 0 0 6px #000;
}
#crm-public-notification-container .ui-notify-message .ui-notify-close {
  cursor: pointer;
}
#crm-public-notification-container .ui-notify-message a.ui-notify-cross {
  margin-top: -4px;
  float: right;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0 1px 1px #fff;
  padding: 2px;
  color: #FDFDFD;
}
#crm-public-notification-container .ui-notify-message .ui-notify-cross:hover,
#crm-public-notification-container .ui-notify-message .ui-notify-cross:focus {
  color: #ffffab;
}

/* Fix help icon style */
.crm-container .crm-accordion-body .helpicon {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif,fontAwesome;
  font-size: inherit;
}
