* {
  font-family: "Gill Sans",Helvetica,sans-serif;
  font-size: 16px !important;
  color: #4B4C4D !important;
}
.crm-container .crm-form-block label {
  font-weight: 500 !important;
}
#block-de-theme-page-title > h1 {
  font-size: 3rem !important;
}
.crm-container .crm-contact-custom-search-form-block .form-layout-compressed label {
  font-weight: 700 !important;
}
.provider-wrapper a, .provider-row a {
  font-weight: normal !important;
}
.content a:hover {
  text-decoration:underline !important;
  color: #abad00 !important;
  cursor: pointer !important;
}
.crm-contact-custom-search-form-row-accepting_clients_filter label,
.crm-contact-custom-search-form-row-remote_travel_filter label,
.crm-contact-custom-search-form-row-supervision_filter label,
.crm-contact-custom-search-form-row-videoconferencing_filter label {
  cursor: pointer;
}
.icon-accepting-img{
    background-image: url('../img/icon_accepting_16px.png');
}
.icon-not-accepting-img{
    background-image: url('../img/icon_not_accepting_16px.png');
}
.icon-remote-travel-img{
    background-image: url('../img/icon_remote_travel_16px.png');
}
.icon-supervision-img{
    background-image: url('../img/icon_supervision_16px.png');
}
.icon-videoconferencing-img{
    background-image: url('../img/icon_videoconferencing_16px.png');
}
.provider-image {
  max-height: 200px;
  max-width: 200px;
  margin-left: 15px;
}
.provider-icon{
  width: 30px;
  height: 16px;
  display: inline-block;
  cursor: default;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 5px;
}
.provider-row tr {
  border-bottom: 0px !important;
}
.provider-row td {
  padding: 0.5px !important;
}
.addDetails td {
  padding: 3px !important;
}
.addDetails i {
  font-size: 14px !important;
}
.rasp-expand-hint {
  bottom: 0;
  background: url('../img/expand-arrow.png') no-repeat 8px 10px !important;
  width: 100%;
  text-align: left;
  padding-top: 2px;
  padding-left: 35px !important;
  cursor: pointer !important;
  text-decoration: none !important;
  color: transparent !important;
  overflow: hidden;
}
.rasp-expand {
  bottom: 0;
  background: url('../img/collapse-arrow.png') no-repeat 8px 10px !important;
  width: 100%;
  text-align: left;
  padding-top: 2px;
  padding-left: 35px !important;
  cursor: pointer !important;
  text-decoration: none !important;
  color: transparent !important;
  overflow: hidden;
}
.rasp-expand-hint:hover {
  color: #337AB7 !important;
  text-decoration: underline !important;
  background-position: 8px 14px !important;
}
.provider-title:hover {
  text-decoration: underline !important;
}
.provider-title {
  font-size: 1.8em !important;
  color: #231F20 !important;
}
.not-accepting {
    color: #999 !important;
}
.crm-container table {
  border: none;
}
.provider-row {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 2px solid #ddd !important;
}
.crm-container tr.odd-row td {
  border: none !important;
}
.add-decoration {
  text-decoration: underline;
}
.crm-search-tasks {
  display: none;
}
.crm-container .crm-form-block {
  background-color: #fff !important;
}
table.provider-row:hover {
  cursor: pointer !important;
}
table.provider-row:hover .provider-title {
  text-decoration: underline !important;
}
table.provider-row:hover .rasp-expand-hint {
  color: #337AB7 !important;
  text-decoration: underline !important;
  background-position: 8px 14px !important;
}
tr {
    border-bottom: 0px solid #e6e4df !important;
}
#_qf_Custom_refresh-bottom, #_qf_EditListing_upload-bottom, #_qf_EditListing_cancel-bottom {
  font-family: "Gill Sans", Helvetica, sans-serif !important;
  border: 1px solid transparent !important;
  cursor: pointer !important;
  display: inline-block !important;
  position: relative !important;
  overflow: hidden !important;
  padding: 0.4096em 1.25em !important;
  font-size: 1em !important;
  text-decoration: none !important;
  -webkit-transition: all .3s ease-out, border-color .3s ease-out !important;
  transition: all .3s ease-out, border-color .3s ease-out !important;
  margin-right: 1em !important;
  border-radius: 3px !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  outline: none !important;
  border: 1px solid #ffffff !important;
  background-color: #231F20 !important;
  color: #ffffff !important;
  text-transform: capitalize !important;
}
#_qf_Custom_refresh-bottom:hover, #_qf_EditListing_upload-bottom:hover, #_qf_EditListing_cancel-bottom:hover {
  background-color: #abad00 !important;
  border: 1px solid #abad00 !important;
  color: #231F20 !important;
}
.provider-wrapper {
    overflow: hidden; /* add this to contain floated children */
}
.provider-details {
    float:left; /* add this */
}
.provider-image {
    float: left; /* add this */
}
.field--name-field-title:after {
    content: "";
    display: block;
    width: 30px;
    padding-top: 0.4096em;
    border-bottom: 2px solid #abad00;
}
#expand {
  color: #337AB7 !important
}
.region-breadcrumb, #block-seven-breadcrumbs {
  display: none !important;
}
legend {
  display: none !important;
}
