.icon-accepting-img{
    background-image: url('../img/icon_accepting_24px.png');
}
.icon-not-accepting-img{
    background-image: url('../img/icon_not_accepting_24px.png');
}
.icon-remote-travel-img{
    background-image: url('../img/icon_remote_travel_24px.png');
}
.icon-supervision-img{
    background-image: url('../img/icon_supervision_24px.png');
}
.icon-videoconferencing-img{
    background-image: url('../img/icon_videoconferencing_24px.png');
}
.provider-image {
  max-height: 200px;
  max-width: 200px;
}
.provider-icon{
  width: 30px;
  height: 24px;
  display: inline-block;
  cursor: default;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 5px;
}
.provider-row tr {
  border-bottom: 0px !important;
}
.provider-row td {
  padding: 0.5px !important;
}
.addDetails td {
  padding: 3px !important;
}
.addDetails i {
  font-size: 14px !important;
}
.rasp-expand-hint {
  bottom: 0;
  background: url('../img/expand-arrow.png') no-repeat 8px 10px !important;
  width: 100%;
  text-align: left;
  padding-top: 2px;
  padding-left: 35px !important;
  cursor: pointer !important;
  text-decoration: none !important;
  color: transparent !important;
  overflow: hidden;
}
.rasp-expand {
  bottom: 0;
  background: url('../img/collapse-arrow.png') no-repeat 8px 10px !important;
  width: 100%;
  text-align: left;
  padding-top: 2px;
  padding-left: 35px !important;
  cursor: pointer !important;
  text-decoration: none !important;
  color: transparent !important;
  overflow: hidden;
}
.rasp-expand-hint:hover {
  color: #337AB7 !important;
  text-decoration: underline !important;
  background-position: 8px 14px !important;
}
.provider-title:hover {
  text-decoration: underline !important;
}
.not-accepting {
    color: #999 !important;
}
.crm-container table {
  border: none !important;
}
.crm-container tr.odd-row td {
  border: none !important;
}
.add-decoration {
  text-decoration: underline;
}
.crm-search-tasks {
  display: none;
}
.crm-container .crm-form-block {
  background-color: #fff !important;
}
table.provider-row:hover {
  cursor: pointer !important;
}
table.provider-row:hover .provider-title {
  text-decoration: underline !important;
}
table.provider-row:hover .rasp-expand-hint {
  color: #337AB7 !important;
  text-decoration: underline !important;
  background-position: 8px 14px !important;
}
tr {
    border-bottom: 0px solid #e6e4df !important;
}
