.icon-accepting-img{
    background-image: url('../img/icon_accepting_24px.png');
}
.icon-not-accepting-img{
    background-image: url('../img/icon_not_accepting_24px.png');
}
.icon-remote-travel-img{
    background-image: url('../img/icon_remote_travel_24px.png');
}
.icon-supervision-img{
    background-image: url('../img/icon_supervision_24px.png');
}
.icon-videoconferencing-img{
    background-image: url('../img/icon_videoconferencing_24px.png');
}
.provider-icon{
  width: 30px;
  height: 24px;
  display: inline-block;
  cursor: default;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center center;
}
.provider-row tr{
  border-bottom: 0px !important;
}

input[id="bc"],
input[id="ot"],
input[id="pt"],
input[id="slp"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

input[id="bc"] + label,
input[id="ot"] + label,
input[id="pt"] + label,
input[id="slp"] + label {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-left: 20px;
  line-height: 46px;
  cursor: pointer;
}
input[id="bc"] + label::before,
input[id="ot"] + label::before,
input[id="pt"] + label::before,
input[id="slp"] + label::before {
  content: " ";
  position: absolute;
  top: 8px;
  left: 0;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 4px;
}
input[id="bc"] + label::before {
  border: 2px solid red;
}
input[id="ot"] + label::before {
  border: 2px solid blue;
}
input[id="pt"] + label::before {
  border: 2px solid violet;
}
input[id="slp"] + label::before {
  border: 2px solid green;
}
/* Checked */
input[id="test"]:checked + label {
  padding-left: 15px;
  color: 'red';
}
input[id="bc"]:checked + label::before,
input[id="ot"]:checked + label::before,
input[id="pt"]:checked + label::before,
input[id="slp"]:checked + label::before
 {
  top: 0;
  width: 100%;
  height: 100%;
  background: 'black';
}
/* Transition */
label,
label::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
