.icon-accepting-img{
    background-image: url('../img/icon_accepting_24px.png');
}
.icon-not-accepting-img{
    background-image: url('../img/icon_not_accepting_24px.png');
}
.icon-remote-travel-img{
    background-image: url('../img/icon_remote_travel_24px.png');
}
.icon-supervision-img{
    background-image: url('../img/icon_supervision_24px.png');
}
.icon-videoconferencing-img{
    background-image: url('../img/icon_videoconferencing_24px.png');
}
.provider-icon{
  width: 30px;
  height: 24px;
  display: inline-block;
  cursor: default;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center center;
}
.provider-row tr{
  border-bottom: 0px !important;
}
.rasp-expand-hint {
  bottom: 0;
  background: url('../img/expand-arrow.png') no-repeat 8px 10px !important;
  width: 100%;
  text-align: left;
  padding-top: 2px;
  padding-left: 35px !important;
  cursor: pointer !important;
  text-decoration: none !important;
  color: transparent !important;
  overflow: hidden;
}
.rasp-expand {
  bottom: 0;
  background: url('../img/collapse-arrow.png') no-repeat 8px 10px !important;
  width: 100%;
  text-align: left;
  padding-top: 2px;
  padding-left: 35px !important;
  cursor: pointer !important;
  text-decoration: none !important;
  color: transparent !important;
  overflow: hidden;
}
.rasp-expand-hint:hover {
  color: #337AB7 !important;
  text-decoration: underline !important;
  background-position: 8px 14px !important;
}
item:hover > .rasp-expand-hint {
  color: #337AB7 !important;
}
.not-accepting {
    color: #999;
}
.crm-container table {
  border: none !important;
}
.crm-container tr.odd-row td {
  border: none !important;
}
