body, p, span, div {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  color: #4d4d69;
  font-size: 13px !important;
}

.description-text {
  font-size: 13px;
  padding-top: 15px;
}

fieldset:not(.fieldgroup) {
  background-color: transparent !important;
}

.crm-container table {
  border: none;
}

tr {
  border-bottom: 0px;;
}

#editrow-custom_8 > div.label, #editrow-custom_9 > div.label, #editrow-custom_10 > div.label, #editrow-custom_11 > div.label,
#editrow-custom_40 > div.label, #editrow-custom_41 > div.label, #editrow-custom_42 > div.label, #editrow-custom_43 > div.label {
  margin-right: 50px;
}

#editrow-custom_7 > div.label, #editrow-custom_12 > div.label {
  padding-right: 10px;
}

#crm-container .signature {
  width: auto !important;
}

h1 {
  font-size: 20px !important;
  font-weight: bold;
}

/* #editrow-first_name, #editrow-last_name {
  display: inline-flex;
}

#editrow-first_name .label, #editrow-last_name .label {
  float:none;
  display: block;
  width: 100px;
}

#editrow-first_name .content, #editrow-last_name .content {
  display: block;
  margin-left: 0% !important
}

@media only screen and (min-width: 1339px) {
  #editrow-last_name {
    padding-left: 10px;
  }
}

*/

#editrow-custom_8, #editrow-custom_40 {
  display: inline-flex;
}

#editrow-custom_9, #editrow-custom_41 {
  display: inline-flex;
}

#editrow-custom_10, #editrow-custom_42 {
  display: inline-flex;
}

#editrow-custom_11, #editrow-custom_43 {
  display: inline-flex;
}

#editrow-custom_8, #editrow-custom_9, #editrow-custom_10, #editrow-custom_11 {
  width: 250px;
}

#editrow-custom_40, #editrow-custom_41, #editrow-custom_42, #editrow-custom_43 {
  float: right;
  width: 300px;
  padding-left: 30px;
}

.crm-container .professional .content {
  margin-left: 0% !important;
} 

.crm-section {
  clear: both !important;
}

@media only screen and (min-width: 400px) and (max-width: 1247px) {
  #editrow-custom_40, #editrow-custom_41, #editrow-custom_42, #editrow-custom_43 {
    float: none;
    width: 300px;
    padding-left: 0px;
  }
}


